/*corpo do site*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4918f ;
}
/*parte de cima do site*/
header {
    background-color: #000000;
    color: #fff;
    padding-top: 20px;
    text-align: center;
}
/*logotipo do site*/
.logo img {
    width: 500px; 
}
/*navegação do site,menu*/
nav {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
/*colocar texto*/
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgb(238, 234, 237);
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(7, 6, 4);
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
